body {
    font-family: Arial, sans-serif;
}

.training-box {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 2px solid transparent; 
    border-color: rgb(97, 163, 207);
}

.header-container {
    background: linear-gradient(90deg, pink, black);    padding: 10px; 
    text-align: center; 
    margin-bottom: 20px; 
    color: white; 
}

label, input, p, ul {
    margin: 10px 0;
}

input[type="text"],
input[type="email"] {
    width: 100%; 
    padding: 5px;
    max-width: 400px; 
    resize: none;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
}

input[type="radio"] {
    margin-right: 5px;
}

.training-box label.asterisk::after {
    content: "*";
    color: red;
    margin-right: 5px;
}


.training-box input[type="submit"] {
    background-color: rgb(53, 171, 226);
    color: white; 
    padding: 10px 20px; 
    border-radius: 2px;
    border: none;
    cursor: pointer; 
    display: block; 
    margin: 0 auto; 
}

label {
    font-size: 15px; 
}