.flex-container{
    background-color:rgb(110, 194, 243);
    flex-wrap: wrap;
    padding: 6px;
}

.flex-container1{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding: 5px;
}

.flex-container3{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 10px;
    padding: 5px;
}

.boxy{
    background-color: rgb(62, 173, 80);
    height: 150px;
    width: 1000px;
    flex-wrap: wrap;
    display: flex;
}

.box{
    background-color: rgb(40, 37, 202);;
    height: 250px;
    width: 326px;
    justify-content: center;
    display: flex;
    align-items: center;
}



.flex-container2{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 10px;
        padding: 5px;
}

.boxi{
    background-color: rgb(110, 124, 109);;
    gap: 50px;
    height: 160px;
    width: 242px;
    justify-content: center;
    display: flex;
    align-items: center;
   
}

